.ColorBox {
  display: inline-block;
  width: 20%;
  height: 25%;
  position: relative;
  cursor: pointer;
  margin-bottom: -3px;
}

.ColorBox .copy-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(255,255,255, .3);
  border: none;
  outline: none;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0;
}

.ColorBox:hover .copy-button {
  opacity: 1;
  transform: all .5s;
}

.ColorBox .content-box{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-transform: uppercase;
}

.ColorBox .name {
  color: black;
  padding: 10px;
  letter-spacing: 1px;
} 

.ColorBox .see-more {
  background-color: rgba(255,255,255, .3);
  color: white;
  border: none;
  outline: none;
  width: 60px;
  height: 35px;
  line-height: 35px;
  text-transform: inherit;
}
