.Navbar {
  display: flex;
  height: 7%;
  align-items: center;
}

.logo {
  background-color: #eceff1;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  margin-right: 15px;
  font-size: 22px;
  padding: 0 13px;
}

.logo a{
  color: #222;
  text-decoration: none;
}

.select-container {
  margin-left: auto;
  margin-right: 1rem;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider {
  width: 250px;
  margin:  10px;
  display: inline-block;
}


.rc-slider-handle,
.rc-slider-handle:focus,
.rc-slider-handle:active,
.rc-slider-handle:hover {
  outline: none;
  box-shadow: none;
  width: 16px;
  height: 16px;
  background-color: #4caf50;
  border: 2px solid #4caf50;
  margin-top: -4.6px;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}