.Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;  */
}

.Palette-colors {
  height: 85%;
}

.Palette-footer {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  align-items: center;
  height: 7.5%;
}

.emoji {
  margin: 1rem;
  font-size: 1.5rem;
}

