.Palette {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.Palette-colors {
  height: 86%;
}

.Palette-footer {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  align-items: center;
  height: 7%;
  font-size: 1rem;
  line-height: 7%;
}

.emoji {
  margin: 1rem;
  font-size: 1.4rem;
}

